<div class="top-0 z-10 sticky">
  <div class="top-0 absolute flex mask-b-from-80% backdrop-blur-sm w-full h-full">
  </div>

  <%= form_with model: post, class: "relative mx-2 pt-6 pb-8 flex space-x-2 text-lg" do |form| %>
    <%= form.text_area :body,
      placeholder: "What's on your mind?",
      rows: 2,
      class: "flex-grow p-3 border border-gray-300 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-500 resize-none" %>

    <%= form.submit 'Post',
      class: "size-20 flex bg-teal-300 text-black hover:text-white hover:bg-black rounded-full font-semibold px-5 py-2 transition hover:cursor-pointer" %>
  <% end %>
</div>
